/**
 * Remove right sidebar and list of repositories from left sidebar.
 */
.dashboard-sidebar > .js-repos-container,
.team-left-column.col-12.col-md-3 {
  display: none !important;
}

/**
 * Remove background color from sidebar and repositories in the feed.
 */
.d-flex > .team-left-column,
.d-flex > div > .Box,
.d-flex > .Box {
  background-color: transparent !important;
}

/**
 * Remove border and padding from items in feed.
 */
.d-flex > .Box,
.d-flex > div > .Box {
  border: none !important;
  padding: 0px !important;
}

/**
 * Remove padding from starred repos.
 */
.d-flex .flex-items-baseline .border-bottom .border-gray .py-3 {
  padding: 0px !important;
}

/**
 * Remove the border from left sidebar.
 */
.d-flex > .team-left-column.border-right {
  border-right: 0px !important;
}

/**
 * Prevent the feed from taking the entire available width of the page.
 */
.col-12.col-md-8.col-lg-6.p-responsive.mt-3.border-bottom.d-flex.flex-auto {
  flex: 0 0 auto !important;
}

/**
 * Remove star, unstar, follow and unfollow buttons from the feed.
 */
.starred,
.unstarred,
.follow,
.unfollow {
  display: none !important;
}

/**
 * Fix the font size of followed user's name and starred repos to 14px.
 */
.f4.text-bold.link-gray-dark.no-underline,
.f4.lh-condensed.text-bold.text-gray-dark {
  font-size: 14px !important;
}
